In [1]:
import numpy as np

In [2]:
my_numpy_array = np.random.rand(3)
my_numpy_array

array([0.55092912, 0.51899057, 0.41626938])

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[0]

0.5509291183105194

In [5]:
import pandas as pd

In [6]:
my_series = pd.Series(my_numpy_array)
my_series

0    0.550929
1    0.518991
2    0.416269
dtype: float64

In [7]:
my_series[0]

0.5509291183105194

In [8]:
my_series = pd.Series(my_numpy_array, index=['First', 'Second', 'Third'])
my_series

First     0.550929
Second    0.518991
Third     0.416269
dtype: float64

In [9]:
my_series['First']

0.5509291183105194

In [10]:
my_series[0]

0.5509291183105194

In [11]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [12]:
array_2d = np.random.rand(3, 2)
array_2d

array([[0.33765823, 0.54266903],
       [0.39222658, 0.11594543],
       [0.10580087, 0.14607972]])

In [13]:
array_2d[0, 1]

0.5426690307995364

In [15]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.337658  0.542669
1  0.392227  0.115945
2  0.105801  0.146080

In [16]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [17]:
df.columns = ['First', 'Second']
df

      First    Second
0  0.337658  0.542669
1  0.392227  0.115945
2  0.105801  0.146080

In [18]:
df['Second']

0    0.542669
1    0.115945
2    0.146080
Name: Second, dtype: float64

In [19]:
type(df['Second'])

pandas.core.series.Series