In [1]:
import pandas as pd
import os

In [2]:
# Let's load the data for the first time
df = pd.read_pickle(os.path.join('data', 'artwork_data.pickle'))
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419.0,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213.0,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785.0,1922.0,343,467.0,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394.0,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826.0,1919.0,243,335.0,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305.0,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305.0,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410.0,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660.0,mm

In [3]:
df.artist

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [4]:
artists = df['artist']

In [8]:
unique_artists = pd.unique(artists)
unique_artists

array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
       'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
      dtype=object)

In [9]:
type(unique_artists)

numpy.ndarray

In [11]:
len(unique_artists)

3336

In [12]:
s = df['artist'] == 'Bacon, Francis'
s

id
1035      False
1036      False
1037      False
1038      False
1039      False
          ...
122960    False
122961    False
121181    False
112306    False
127035    False
Name: artist, Length: 69201, dtype: bool

In [13]:
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [15]:
artist_counts = df['artist'].value_counts()
artist_counts

Turner, Joseph Mallord William    39389
Jones, George                      1046
Moore, Henry, OM, CH                623
Daniell, William                    612
Beuys, Joseph                       578
                                  ...
Torner, Gustavo                       1
Casas, Juan Vila                      1
Fussell, Michael                      1
Lucio                                 1
Brunias, Agostino                     1
Name: artist, Length: 3336, dtype: int64

In [16]:
type(artist_counts)

pandas.core.series.Series

In [17]:
artist_counts['Bacon, Francis']

50

In [18]:
df.loc[1035, 'artist']

'Blake, Robert'

In [19]:
df.iloc[0, 0]

'Blake, Robert'

In [20]:
df.iloc[0, :]

artist                                                 Blake, Robert
title              A Figure Bowing before a Seated Old Man with h...
medium             Watercolour, ink, chalk and graphite on paper....
year                                                             NaN
acquisitionYear                                               1922.0
width                                                            394
height                                                         419.0
units                                                             mm
Name: 1035, dtype: object

In [21]:
df.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [25]:
# Try multiplication
df['height'] * df['width']

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
df['width'].sort_values().head()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [27]:
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [28]:
# Try to convert
pd.to_numeric(df['width'])

ValueError: Unable to parse string "(upper):" at position 1839

In [29]:
pd.to_numeric(df['width'], errors='coerce')

id
1035      394.0
1036      311.0
1037      343.0
1038      318.0
1039      243.0
          ...
122960    305.0
122961    305.0
121181     45.0
112306      NaN
127035    508.0
Name: width, Length: 69201, dtype: float64

In [30]:
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

In [31]:
pd.to_numeric(df['height'], errors='coerce')

id
1035       419.0
1036       213.0
1037       467.0
1038       394.0
1039       335.0
           ...
122960     305.0
122961     305.0
121181    2410.0
112306       NaN
127035     660.0
Name: height, Length: 69201, dtype: float64

In [32]:
df.loc[:, 'height'] = pd.to_numeric(df['height'], errors='coerce')

In [35]:
area = df['height'] * df['width']
area

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [36]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [37]:
# Assign - create new columns with size
df = df.assign(area=area)

In [38]:
df['area'].max()

132462000.0

In [39]:
df['area'].idxmax()

98367

In [40]:
df.loc[df['area'].idxmax(), :]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                           2003.0
acquisitionYear                                2008.0
width                                          8920.0
height                                        14850.0
units                                              mm
area                                      132462000.0
Name: 98367, dtype: object