### windows wsl

In [1]:
# url = 'https://raw.githubusercontent.com/kelseyhightower/weather-data/master/weather.csv'
# !curl {url} -o wheather.csv

In [2]:
!head -n 5 ./weather.csv

2000,11,30,23,00,6.65
2000,12,01,00,00,5.83
2000,12,01,01,00,5.06
2000,12,01,02,00,4.35
2000,12,01,03,00,3.68

In [3]:
!pwd

/mnt/d/data_files/notes/pluralsight/jupyter_notebook/2_Moving_from_the_REPL_to_a_Notebook

In [4]:
!ls

1_Creating_a_Jupyter_Notebook.ipynb	    4_Styling_Cell_Output.ipynb
3_Shell_Commands_and_Special_Objects.ipynb  weather.csv

In [5]:
import csv

In [6]:
with open('weather.csv', 'r') as f:
    count = 0
    for line in csv.reader(f):
        if count > 5:
            break
        print(line)
        count += 1

['2000', '11', '30', '23', '00', '6.65']
['2000', '12', '01', '00', '00', '5.83']
['2000', '12', '01', '01', '00', '5.06']
['2000', '12', '01', '02', '00', '4.35']
['2000', '12', '01', '03', '00', '3.68']
['2000', '12', '01', '04', '00', '3.20']

In [7]:
import pandas as pd

In [8]:
df_weather = pd.read_csv('weather.csv')

In [13]:
df_head5 = df_weather.loc[:5]

In [14]:
df_head5.loc[:1].style.render()

'<style type="text/css">\n</style>\n<table id="T_5abe0_">\n  <thead>\n    <tr>\n      <th class="blank level0" >&nbsp;</th>\n      <th class="col_heading level0 col0" >2000</th>\n      <th class="col_heading level0 col1" >11</th>\n      <th class="col_heading level0 col2" >30</th>\n      <th class="col_heading level0 col3" >23</th>\n      <th class="col_heading level0 col4" >00</th>\n      <th class="col_heading level0 col5" >6.65</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th id="T_5abe0_level0_row0" class="row_heading level0 row0" >0</th>\n      <td id="T_5abe0_row0_col0" class="data row0 col0" >2000</td>\n      <td id="T_5abe0_row0_col1" class="data row0 col1" >12</td>\n      <td id="T_5abe0_row0_col2" class="data row0 col2" >1</td>\n      <td id="T_5abe0_row0_col3" class="data row0 col3" >0</td>\n      <td id="T_5abe0_row0_col4" class="data row0 col4" >0</td>\n      <td id="T_5abe0_row0_col5" class="data row0 col5" >5.830000</td>\n    </tr>\n    <tr>\n      <th id="T_5abe0_level0_row1" class="row_heading level0 row1" >1</th>\n      <td id="T_5abe0_row1_col0" class="data row1 col0" >2000</td>\n      <td id="T_5abe0_row1_col1" class="data row1 col1" >12</td>\n      <td id="T_5abe0_row1_col2" class="data row1 col2" >1</td>\n      <td id="T_5abe0_row1_col3" class="data row1 col3" >1</td>\n      <td id="T_5abe0_row1_col4" class="data row1 col4" >0</td>\n      <td id="T_5abe0_row1_col5" class="data row1 col5" >5.060000</td>\n    </tr>\n  </tbody>\n</table>\n'

In [15]:
df_head5.style.highlight_max()

In [18]:
def highlight_5_and_over(value):
    return 'color: {0}'.format('green' if value >= 5 else 'black')

In [19]:
df_head5.style.applymap(highlight_5_and_over)

In [20]:
df_head5.style.applymap(highlight_5_and_over, subset=df_head5.columns[3:])

In [25]:
css = !cat ugly.css
css

['table.dataframe tr:nth-child(even) {',
 '    background-color: yellow;',
 '}',
 '',
 'table.dataframe tr:nth-child(odd) {',
 '    background-color: red;',
 '}',
 '',
 'table.dataframe th {',
 '    background-color: white;',
 '}']

In [26]:
from IPython.core.display import HTML

In [27]:
HTML('<b>Pay attention!</b>')

In [28]:
HTML('<style>{0}</style>'.format(''.join(css)))

In [29]:
df_head5

   2000  11  30  23  00  6.65
0  2000  12   1   0   0  5.83
1  2000  12   1   1   0  5.06
2  2000  12   1   2   0  4.35
3  2000  12   1   3   0  3.68
4  2000  12   1   4   0  3.20
5  2000  12   1   5   0  2.71