In [1]:
import numpy as np
import pandas as pd

import dask.dataframe as dd
import dask.array as da
import dask.bag as db

In [2]:
index = pd.date_range("2021-09-01", periods=2400, freq="1H")
index

DatetimeIndex(['2021-09-01 00:00:00', '2021-09-01 01:00:00',
               '2021-09-01 02:00:00', '2021-09-01 03:00:00',
               '2021-09-01 04:00:00', '2021-09-01 05:00:00',
               '2021-09-01 06:00:00', '2021-09-01 07:00:00',
               '2021-09-01 08:00:00', '2021-09-01 09:00:00',
               ...
               '2021-12-09 14:00:00', '2021-12-09 15:00:00',
               '2021-12-09 16:00:00', '2021-12-09 17:00:00',
               '2021-12-09 18:00:00', '2021-12-09 19:00:00',
               '2021-12-09 20:00:00', '2021-12-09 21:00:00',
               '2021-12-09 22:00:00', '2021-12-09 23:00:00'],
              dtype='datetime64[ns]', length=2400, freq='H')

In [3]:
type(index)

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
df = pd.DataFrame({"a": np.arange(2400), "b": list("abcaddbe" * 300)}, index=index)
df

                        a  b
2021-09-01 00:00:00     0  a
2021-09-01 01:00:00     1  b
2021-09-01 02:00:00     2  c
2021-09-01 03:00:00     3  a
2021-09-01 04:00:00     4  d
...                   ... ..
2021-12-09 19:00:00  2395  a
2021-12-09 20:00:00  2396  d
2021-12-09 21:00:00  2397  d
2021-12-09 22:00:00  2398  b
2021-12-09 23:00:00  2399  e

[2400 rows x 2 columns]

In [5]:
ddf = dd.from_pandas(df, npartitions=10)
ddf

Dask DataFrame Structure:
                         a       b
npartitions=10
2021-09-01 00:00:00  int32  object
2021-09-11 00:00:00    ...     ...
...                    ...     ...
2021-11-30 00:00:00    ...     ...
2021-12-09 23:00:00    ...     ...
Dask Name: from_pandas, 10 tasks

In [6]:
ddf.divisions

(Timestamp('2021-09-01 00:00:00', freq='H'),
 Timestamp('2021-09-11 00:00:00', freq='H'),
 Timestamp('2021-09-21 00:00:00', freq='H'),
 Timestamp('2021-10-01 00:00:00', freq='H'),
 Timestamp('2021-10-11 00:00:00', freq='H'),
 Timestamp('2021-10-21 00:00:00', freq='H'),
 Timestamp('2021-10-31 00:00:00', freq='H'),
 Timestamp('2021-11-10 00:00:00', freq='H'),
 Timestamp('2021-11-20 00:00:00', freq='H'),
 Timestamp('2021-11-30 00:00:00', freq='H'),
 Timestamp('2021-12-09 23:00:00', freq='H'))

In [7]:
ddf.partitions[1]

Dask DataFrame Structure:
                   a       b
npartitions=1
2021-09-11     int32  object
2021-09-21       ...     ...
Dask Name: blocks, 11 tasks